<ifModule mod_headers.c>
  # Comment out if you need the web application to be crawled.
  #Header set X-Robots-Tag "noindex,nofollow"

  # 10 Simple Ways to Secure Your Website
  # Source: https://www.perpetual-beta.org/weblog/security-headers.html#rule-8470-2-establish-a-cross-domain-meta-policy
  #
  # Rule 1: Avoid Access-Control-Allow-Origin: *
  # More details: https://www.perpetual-beta.org/weblog/security-headers.html#rule-8470-1-avoid-access-control-allow-origin-
  #Access-Control-Allow-Origin: http://example.com

  # Rule 2: Establish a Cross-Domain Meta Policy
  # More details: https://www.perpetual-beta.org/weblog/security-headers.html#rule-8470-2-establish-a-cross-domain-meta-policy
  Header set X-Permitted-Cross-Domain-Policies "none"
</ifModule>
